.tab {
    font-size: 19px;
    padding-top: 11px;
    padding-bottom: 11px;
}

.link {
    text-decoration: none;
}

a {
    text-decoration: none;

}

vaadin-grid::part(body-cell) {
    padding-top: 15px;
    padding-bottom: 15px;
}

vaadin-grid::part(header-cell) {
    font-size: 28px;
}

vaadin-grid {
    font-size: 16px;
}

vaadin-grid-sorter::part(content) {
    font-size: 16px;
}

vaadin-tab {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left:30px;
    padding-right: 30px;
}

.p-accordion-header-text {
    font-size: 20px;
    color: black;
    padding-left: 20px;
    text-align: center;
}

.p-accordion-header {
    background-color: #f9fafb;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 8px;

}

.p-accordion-header-link {
    align-content: center;
    justify-content: center;
}

.p-icon p-accordion-toggle-icon {
    text-align: left;
}

vaadin-grid {
    border: none;
}

label {
    margin-bottom: -15px;
    margin-top: 15px;
    font-size: 16px;
}

input {
    font-size: 16px;
}
